.styledForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.styledForm label {
    display: block;
}

.styledForm input {

    display: block;
}

.styledForm button {
    margin: 10px;
}